{% extends 'base.html' %} 
{% load static %}
{% load bootstrap5 %} 
{% block content%}
{% if user.is_superuser %}
<div class="container-fluid px-3" >
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-2 g-2" data-masonry='{"percentPosition": true }'>
        {% for posts in post %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title"><a class="text-dark" style="text-decoration: none;" href="{% url 'detail' posts.slug %}">{{posts.title}}</a></h5>
                <p class="card-subtitle">{{posts.description}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav aria-label="Pagination">
    <ul class="pagination justify-content-center my-4">
        {% if post.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{post.previous_page_number}}"> << </a></li>
        {% endif %}
        {% for i in post.paginator.page_range %}
        {% if post.number == i %}
            <li class="page-item active"><a class="page-link bg-black" style="box-shadow: none" href="#">{{i}}</a></li>
        {% else %}
            <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %}
        {% endfor %}
        {% if post.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{post.next_page_number}}"> >> </a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock%}