{% extends 'base.html' %}
{% block title %}LIBRIA| Settings {% endblock %}
{% load bootstrap5 %}
{% block content%}

<div class="container-fluid">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2">
        <div class="col-md-2 col-lg-2 pe-3  mb-4 mt-3">
            <div class="card">
                <div class="list-group">
                    <a class="list-group-item" href="{% url 'settings' %}">Personal Info</a>
                    <a class="list-group-item" href="{% url 'change_pass' %}">Change Password</a>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-lg-10 mt-3">
            <div class="card mb-4">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form method="post" class="form" style="box-shadow: none">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <div class="text-center d-grid">
                            <button type="submit" class="btn btn-black border-warning rounded-pill">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}    